body {
  font-family: arial, sans-serif;
}

h1 {
  /*h1 is already a block element*/
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  /*This removes the space between the h1 and the ul*/
  margin-bottom: 0;
}

ul {
  /*This removes the added spacing from the list*/
  margin: 0;
  padding: 0;
}

li {
  /*This removes the bullet points*/
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}

.weatherAppWrapper {
  max-width: 600px;
  /*Centering the app and repository link on the page*/
  margin: 30px auto;
}

.weatherApp {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weatherTemperature img {
  /*This is the format to use when targeting an element within a class*/
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.weatherTemperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  /*This will set the line height to 64px*/
  line-height: 1;
}

.weatherTemperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
  right: -5px;
}

.floatLeft {
  float: left;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
